@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: "VT323", monospace;
    font-size: 40px;
}

.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-text {
    position: absolute;
    font-size: 512px;
    color: #A6D6D6;
    z-index: 1;
    top: -10%;
}

.computer-text {
    position: absolute;
    font-size: 512px;
    color: #F4F8D3;
    z-index: 1;
    top: 42%;
}

#human {
    min-height: 50vh;
    min-width: 100%;
    background-color: #F7CFD8;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding-bottom: 64px;

}

#notHuman {
    min-height: 50vh;
    min-width: 100%;
    background-color: #8E7DBE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer {
    min-height: 25vh;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#showScore {
    min-height: 25vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: #94B4C1;
    color: #252422;
    font-family:"Roboto Mono", monospace;
    font-size: 48px;
    padding: 16px 164px;
    border: 3px solid #222831;
    z-index: 2;
}

#showScore p {
    z-index: 2;
}

.selected {
    background-color: #FF90BB;
}